In [19]:
import pandas as pd
import numpy as np
from scipy.stats import trim_mean

In [20]:
states = pd.read_csv('state.csv')

In [21]:
states.head()

        State  Population  Murder.Rate Abbreviation
0     Alabama     4779736          5.7           AL
1      Alaska      710231          5.6           AK
2     Arizona     6392017          4.7           AZ
3    Arkansas     2915918          5.6           AR
4  California    37253956          4.4           CA

In [22]:
states.describe()

         Population  Murder.Rate
count  5.000000e+01    50.000000
mean   6.162876e+06     4.066000
std    6.848235e+06     1.915736
min    5.636260e+05     0.900000
25%    1.833004e+06     2.425000
50%    4.436370e+06     4.000000
75%    6.680312e+06     5.550000
max    3.725396e+07    10.300000

### Métricas da População

In [23]:
media_populacao = states['Population'].mean()
np.around(media_populacao)

np.float64(6162876.0)

In [24]:
media_aparada_populacao = trim_mean(states['Population'], proportiontocut=0.1)
np.around(media_aparada_populacao)

np.float64(4783697.0)

In [25]:
mediana_populacao = states['Population'].median()
np.around(mediana_populacao)

np.float64(4436370.0)

### Métricas da Taxa de Assassinatos

In [26]:
media_ponderada_assassinatos = (states['Murder.Rate']*states['Population']).sum()/states['Population'].sum()
np.around(media_ponderada_assassinatos,1)

np.float64(4.4)

In [27]:
states_ordenado = states.sort_values('Murder.Rate')

In [28]:
states_ordenado.head()

            State  Population  Murder.Rate Abbreviation
28  New Hampshire     1316470          0.9           NH
18          Maine     1328361          1.6           ME
22      Minnesota     5303925          1.6           MN
44        Vermont      625741          1.6           VT
10         Hawaii     1360301          1.8           HI

In [29]:
states_ordenado['PopulationCum'] = states_ordenado['Population'].cumsum()

In [61]:
states_ordenado.head()

            State  Population  Murder.Rate Abbreviation  PopulationCum
28  New Hampshire     1316470          0.9           NH        1316470
18          Maine     1328361          1.6           ME        2644831
22      Minnesota     5303925          1.6           MN        7948756
44        Vermont      625741          1.6           VT        8574497
10         Hawaii     1360301          1.8           HI        9934798

In [48]:
metade_peso_total = states_ordenado['Population'].sum()/2
metade_peso_total

np.float64(154071907.5)

In [49]:
pesos_populacao_ordenado = states.sort_values('Population')['Population'].values
valores_assassinatos_ordenado = states.sort_values('Murder.Rate')['Murder.Rate'].values
#pesos_populacao_ordenado
#valores_assassinatos_ordenado

In [55]:
for linha in states_ordenado['PopulationCum']:
    if metade_peso_total <= linha:
        index = (states_ordenado[states_ordenado['PopulationCum'] == linha].index)
        break

mediana_ponderada_assassinatos = states_ordenado['Murder.Rate'][4]
print(f"Mediana Ponderada de Murder.Rate: {mediana_ponderada_assassinatos}")

np.float64(4.4)